<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Store Management System</title>
    <link th:href="@{css/main.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>


<div th:insert="header.html"></div>
<div class="container my-2">
    <div th:if="${option.equals('date')}">
        <h1 align="center">Bảng danh sách hoá đơn được thống kê trong ngày
            <td th:text="${specificDate.substring(8,10) + '-' + specificDate.substring(5,7) + '-' + specificDate.substring(0,4)}"></td>
        </h1>
        <br><br><br>
    </div>
    <div th:unless="${option.equals('date')}" align="center">
        <h1>Bảng danh sách hoá đơn được thống kê từ ngày
            <td th:text="${fromDate.substring(8,10) + '-' + fromDate.substring(5,7) + '-' + fromDate.substring(0,4)}"></td>
        </h1>
        <h1>tới ngày
            <td th:text="${toDate.substring(8,10) + '-' + toDate.substring(5,7) + '-' + toDate.substring(0,4)}"></td>
        </h1>
        <br><br><br>
    </div>
    <div>
<!--        Total Amount All:-->
<!--        <td th:text="${totalAmountAll}"></td>-->
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <th><a th:href="@{'/statistic/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}
                                                                  + '&option=' + ${option}
                                                                  + '&fromDate=' + ${fromDate}
                                                                  + '&toDate=' + ${toDate}
                                                                  + '&specificDate=' + ${specificDate}}">Mã hóa đơn</a>
            </th>
            <th>
                <a th:href="@{'/statistic/page/' + ${currentPage} + '?sortField=createDate&sortDir='  + ${reverseSortDir}
                                                                  + '&option=' + ${option}
                                                                  + '&fromDate=' + ${fromDate}
                                                                  + '&toDate=' + ${toDate}
                                                                  + '&specificDate=' + ${specificDate}}">Ngày tạo</a>
            </th>
            <th>
                <a th:href="@{'/statistic/page/'+ ${currentPage} + '?sortField=totalAmount&sortDir=' + ${reverseSortDir}
                                                                 + '&option=' + ${option}
                                                                 + '&fromDate=' + ${fromDate}
                                                                 + '&toDate=' + ${toDate}
                                                                 + '&specificDate=' + ${specificDate}}">Tổng tiền</a>
            </th>
            </tr>
            </thead>
            <thead>
            <tbody>
            <tr th:each="invoice : ${invoices}">
                <td><a th:href="@{/invoice/detail-invoice/{id}(id=${invoice.id})}" th:text="${invoice.id}"></a>
                <td th:text="${invoice.createDate}"></td>
                <td th:text="${invoice.totalAmount}"></td>
            </tr>
            </tbody>
        </table>
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-12">
                <div class="col-sm-9">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/statistic/page/' + ${i}+ '?sortField=' + ${sortField}
                                                               + '&sortDir=' + ${sortDir}
                                                               + '&option=' + ${option}
                                                               + '&fromDate=' + ${fromDate}
                                                               + '&toDate=' + ${toDate}
                                                               + '&specificDate=' + ${specificDate}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>

                <div class="align-self-center">
                    <a th:if="${currentPage > 1}"
                       th:href="@{'/statistic/page/' + ${totalPages - totalPages + 1} + '?sortField=' + ${sortField}
                                                     + '&sortDir=' + ${sortDir}
                                                     + '&option=' + ${option}
                                                     + '&fromDate=' + ${fromDate}
                                                     + '&toDate=' + ${toDate}
                                                     + '&specificDate=' + ${specificDate}}">Đầu</a>
                    <span th:unless="${currentPage > 1}">Đầu</span>

                    <a th:if="${currentPage > 1}"
                       th:href="@{'/statistic/page/' + ${currentPage - 1} + '?sortField=' + ${sortField}
                                                                          + '&sortDir=' + ${sortDir}
                                                                          + '&option=' + ${option}
                                                                          + '&fromDate=' + ${fromDate}
                                                                          + '&toDate=' + ${toDate}
                                                                          + '&specificDate=' + ${specificDate}}">Trước</a>
                    <span th:unless="${currentPage > 1}">Trước</span>

                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/statistic/page/' + ${currentPage + 1} + '?sortField=' + ${sortField}
                                                                          + '&sortDir=' + ${sortDir}
                                                                          + '&option=' + ${option}
                                                                          + '&fromDate=' + ${fromDate}
                                                                          + '&toDate=' + ${toDate}
                                                                          + '&specificDate=' + ${specificDate}}">Sau</a>
                    <span th:unless="${currentPage < totalPages}">Sau</span>

                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/statistic/page/' + ${totalPages} + '?sortField=' + ${sortField}
                                                                     + '&sortDir=' + ${sortDir}
                                                                     + '&option=' + ${option}
                                                                     + '&fromDate=' + ${fromDate}
                                                                     + '&toDate=' + ${toDate}
                                                                     + '&specificDate=' + ${specificDate}}">Cuối</a>
                    <span th:unless="${currentPage < totalPages}">Cuối</span>
                </div>
            </div>
        </div>
        <div>
            <a th:href="@{/statistic}" class="btn btn-primary">Quay lại</a>
        </div>
    </div>
</div>
</body>
</html>